<!DOCTYPE html>
<html>
  <head>
    <title>Cabinet</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div><%- table %></div>
    <%= profileObj.year %>
  </body>
</html>
