<!DOCTYPE html>
<html>
  <head>
    <title>Person</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%= name %>
    <br />
    Person is <%= name %>
    <br />
    <div class="links">Links is <%= links %></div>
    <div class="links">Links is <%= films %></div>
  </body>
</html>
